html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  background-image: url("../jpg/currencies.jpg");
  background-size: cover;
  background-color: #e3e3e3;
  font-family: 'Lato', sans-serif;
}

.form {
  border-color: teal;
  background-color: white;
  margin: 10px auto;
  margin-top: 150px;

}

.form__header {
  font-size: 20px;
  text-align: center;
  padding: 10px
}

.form__label {
  padding-left: 20px;
}

.form__field {
  background-color: #0000000d;
  border: solid black;
  margin-left: 5px;
  height: 30px;
  width: 230px;
  padding-left: 5px;
}

.form__field--value {
  margin-left: 10px;
}