.buttons {
    margin-top: 15px;
}

.button {
    padding-top: 2px;
    font-size: 15px;
    color: white;
    border: none;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    height: 30px;
}

.button--count {
    background-color: teal;
}

.button--count:hover {
    background-color: hsla(180, 100%, 25%, 80%);
}

.button--reset {
    background-color: #b82e2e
}

.button--reset:hover {
    background-color: hsl(0, 91%, 59%)
}